<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <!-- Define appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <File name="FileAppender" fileName="/backendservices/logging.txt">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <!-- Define loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/> <!-- Attach Console Appender to the root logger -->
            <AppenderRef ref="FileAppender"/> <!-- Attach File Appender to the root logger -->
        </Root>

    </Loggers>

</Configuration>
